@use 'variables';
@import 'mixins';

header{
  background: variables.$main-color;
  height:63px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  & p{
    color:white;
    margin:0;
    text-align:center;
  }
}

@keyframes menu-appearing{
  0%{
    top:-100%;
  }
  100%{
    top:0;
  }
}

.active-button-slider{
  background:variables.$main-color !important;
}

.menu-animation{
  display:block !important;
  animation-name:menu-appearing;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

.menu{
  margin-top:33px;
  position:relative;

  @include flex-column(center);
  &-anchors{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
    & a{
      text-decoration:none;
      color:grey;
      &:hover{
        color:black;
      }
    }
    & .anchors-centering{
      margin-top:60px;
    }
    .anchors-logo {
      max-width: 148px;
    }
    #button-menu{
      position:absolute;
      top:0;
      margin-top:-30px;
      left:84%;
      display:none;
      background:none;
      border:0;
      padding:0;
      transform:scale(0.4);
      margin-left: -25px;
      .button-menu-body{
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 96px;
        height: 96px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
        span,span::before,span::after{
          background:variables.$main-color;
        }
        span{
          transition: background 0s 0.3s;
          display: block;
          position: absolute;
          top: 44px;
          left: 18px;
          right: 18px;
          height: 8px;
          &::before,
          &::after{
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 8px;
            content: "";
          }
          &::after{
            bottom:-20px;
            transition-property: bottom, transform;
          }
          &::before{
            top:-20px;
            transition-property: top, transform;
          }
        }
        
      }
    }
    #button-menu.button-menu-is-active{
      span{
        background: none;
        &::before{
          top: 0;
          transform: rotate(45deg);
        }
        &::after{
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
    .menu-container{
      min-width:50%;
      min-height:331px;
      background:white;
      display:none;
      z-index:100;
      position:absolute;
      top:0;
      right:0;
      .menu-body{
        margin-top:25px;
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        padding:20px;
        align-items:center;
        min-height:inherit;
        a{
          text-decoration: none;
          font-size:14px;
          text-transform:uppercase;
          color:grey;
        }
      }
      #menu-cross{
        position:absolute;
        top: 0;
        left: 85%;
        background:none;
        border:none;
      }
    }
  }
}

@media screen and (max-width:700px){
  .menu{
    .menu-anchors.menu-activated{
      @include flex-column(center);
      a:not(:first-child){
        display:block !important;
        margin-top:30px;
      }
    }
    #button-menu{
      display:block !important;
    }
    .anchors-logo{
      margin-left:auto;
      margin-right:auto;
    }
    .anchors-centering{
      display:none;
    }
  }
}