@use 'variables';
@import 'mixins';


.hero-section {
  margin-bottom: 55px;
  &-slider {
    .slick-dots {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1rem 0;
      list-style-type: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5px;
      
      li {
        margin: 0 0.25rem;
      }
    
      button {
        display: block;
        padding: 0;
        border: none;
        border-radius: 50%;
        text-indent: -9999px;
        border: 2px solid variables.$main-color;
        background: none;
        opacity: .9;
        width: 12px;
        height: 12px;
      }
    
      li.slick-active button {
        background-color: variables.$main-color;
      }
      
    }

    &-slide img {
      max-width: 100%;
      width: 100%;
    }
  }
}